# Ignore Datasets
datasets/

# Ignore .csv files.
.csv

# Ignore .pyc files.
.pyc

# Ignore installation files.
nonstandardcode.egg-info/

# Ignore pycache files generated during testing.
__pycache__

# Ignore .ipynb_checkpoints folders
.ipynb_checkpoints/
